@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/**
* ! NavBar , Brand, botons and cart
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 120px;
  font-family: "Quicksand";
}
.nav-brand {
  position: relative;
  bottom: 0;
  right: 50px;
  font-size: 30px !important;
}

.botons {
  bottom: 30px;
  display: flex;
  margin-left: auto;
  font-family: "Quicksand";
  font-size: 20px;
}

.nav-boton {
  margin-left: 90px;
  font-size: 20px;
  color: #161a1d;
}

#dropdown-basic {
  position: relative;
  left: 50px;
  bottom: 7px;
  border-radius: 2rem;
  color: #161a1d;
  border: #cdb4db;
  background-color: #cdb4db;
  font-size: 20px;
  font-family: "Quicksand";
}

.menudrop {
  .dropdown-menu {
    position: relative;
    top: 25px;
    left: 10px;
    border-radius: 1rem;
    background-color: #cdb4db;
    padding: 10px;
    font-family: "Quicksand";
  }
}

.dropdown-menu a {
  color: #161a1d;
  margin-right: 35px;
}

.dropdown-item {
  border-bottom: 1px inset grey;
}

.dropdown-item:last-child {
  border-bottom: none;
}
.nav-boton:hover {
  color: #4a4e69;
}

.dropdown-menu a:hover {
  color: #4a4e69;
  border-radius: 1rem;
  background-color: #9f86c0;
}
.navbar-content .botons a {
  margin-left: 10px;
  text-decoration: none;
}

.cart-icon {
  position: relative;
  bottom: 8px;
  left: 60px;
  display: flex;
  align-items: center;
}

.count {
  position: relative;
  font-size: 15px;
  top: 3px;
  right: 15px;
}
/**
* ! NavBar , Brand, botons and cart
**/
